$white:          #FFFFFF;
$black:          #000000;

$text-color:  $black;

$base: 16px;
$roboto-mono: 'Roboto Mono', monospace;

/ GRID /
$grid-max-width: 1200px;

$bg-color: $black;
$text-color:  $grey;
$text-color--white: $white;